.header {
    width: 100%;
    padding: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid #36395a;
    display: flex;
    justify-content: space-around;
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  .link {
    display: flex;
    align-items: center;
    color: #aaa;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
  }
  .link:hover {
    color: #36395a;
  }
  .current {
    color: #36395a;
  }
  .text {
    margin-left: 6px;
    text-shadow: 3px 4px 2px rgba(0,0,0,0.32);
  }