/* .link {
    text-decoration: none;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 4px 6px;
    color: #aaa;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
  } */
  /* .link:hover {
    color: #36395a;
  } */

  .text {
    margin-left: 6px;
  }
  .container {
    display: flex;
  }
  .link {
    text-decoration: none;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 2px 4px;
    color: #aaa;
    outline: none;
    border: 2px solid #aaa;
    border-radius: 50px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    transition: transform 0.15s;
  }
  .link:hover,
  .link:focus {
    cursor: pointer;
    color: #36395a;
    border: 2px solid #36395a;
    transform: scale(1.02);
  }
  .current {
    border: 2px solid #36395a;
    color: #36395a;
  }