body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: #c5c5c5;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
